@model List<SwasiHealthCare.Model.ExpenseModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    List<SwasiHealthCare.Data.Entities.AccessRights> rights =
     (List<SwasiHealthCare.Data.Entities.AccessRights>)Session["AccessRights"];
    var roleid = Convert.ToInt64(Session["RoleId"]);
}
<div class="row clearfix">
    <div class="col-sm-12">
        <div class="card">
            <div class="body">
                <form>
                    <div class="input-group" style="width:900px">
                        <input type="text" class="form-control borderclr" id="searchexpense" placeholder="Search here...">
                        <div class="input-group-append">
                            <span class="input-group-text" id="search-mail"><i class="icon-magnifier"></i></span>
                        </div>
                        @if ((roleid == 4 || roleid == 3) && rights.Where(x => x.MenuId == 3 && x.IsCreate).Any())
                        {
                            <div id="z_button" tabindex="0">
                                <div id="z_plus"><a href="@Url.Action("NewExpense", "Medicine")"><span style="color:#ffffff">+</span></a></div>
                            </div>
                        }
                        else if (roleid == 2)
                        {
                            <div id="z_button" tabindex="0">
                                <div id="z_plus"><a href="@Url.Action("NewExpense", "Medicine")"><span style="color:#ffffff">+</span></a></div>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive" id="expense_list">
            <table class="table table-hover table-custom spacing5">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th style="width:50px">Description</th>
                        <th style="width:50px">Store Name</th>
                        <th style="width:50px">Approved From</th>
                        <th>Bill Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        var index = 1;
                       
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@item.ExpenseDate.ToString("dd/MM/yyyy")</td>
                                <td>@item.Description</td>
                                <td>@item.StoreName</td>
                                <td>@item.ApprovedFrom</td>
                                <td>@item.BillAmount</td>
                                <td>
                                    @if (item.BillCopyFileName != null)
                                    {
                                        <button onclick="location.href='@Url.Action("DownloadFile", "Medicine", new { path = item.BillCopyFileName })'" ; type="button" style="color: #3e062d; cursor:pointer" class="btn btn-default btn-sm" title="View"><i class="fa fa-download"></i></button>
                                    }

                                    @if (item.ExpenseStatus)
                                    {
                                        <button type="button" class="btn btn-default btn-sm" onclick="ChangeExpenseStatus(@item.ExpenseId,false)" style="color:#82b440; cursor:pointer" ; data-toggle="modal" data-target="#exampleModalCenter" title="Change User Status"><i class="fa fa-check-circle"></i></button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-default btn-sm" onclick="ChangeExpenseStatus(@item.ExpenseId,true)" style="color:#FF2A2A;cursor:pointer" ; data-toggle="modal" data-target="#exampleModalCenter" title="Change User Status"><i class="fa fa-times-circle"></i></button>
                                    }
                                    @if ((roleid == 4 || roleid == 3) && rights.Where(x => x.MenuId == 3 && x.IsEdit).Any())
                                    {
                                        <button onclick="location.href='@Url.Action("EditExpense", "Medicine", new { expenseid = item.ExpenseId })'" ; type="button" style="color:#0094ff; cursor:pointer" class="btn btn-default btn-sm" title="Edit"><i class="fa fa-pencil"></i></button>
                                    }
                                    else if (roleid == 2)
                                    {
                                        <button onclick="location.href='@Url.Action("EditExpense", "Medicine", new { expenseid = item.ExpenseId })'" ; type="button" style="color:#0094ff; cursor:pointer" class="btn btn-default btn-sm" title="Edit"><i class="fa fa-pencil"></i></button>
                                    }
                                    @if ((roleid == 4 || roleid == 3) && rights.Where(x => x.MenuId == 3 && x.IsDelete).Any())
                                    {
                                        <button type="button" style="color: #3e062d; cursor:pointer" ; class="btn btn-default btn-sm" title="Delete" onclick="RemoveMedicine(@item.ExpenseId)" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-trash-o"></i></button>
                                    }
                                    else if (roleid == 2)
                                    {
                                        <button type="button" style="color: #3e062d; cursor:pointer" ; class="btn btn-default btn-sm" title="Delete" onclick="RemoveMedicine(@item.ExpenseId)" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-trash-o"></i></button>
                                    }
                                </td>
                            </tr>
                            index++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="border-radius: 9px;">
            <div class="modal-header">
                <div><h6 class="modal-title" id="exampleModalCenterTitle"></h6></div>
            </div>
            <div class="modal-body">
                <div id="confirmmsg"></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-sm btn-outline-primary borderradius" id="ActionStatus" onclick="ExpenseStatus()">Save changes</a>
                <a href="#" class="btn btn-sm btn-outline-primary borderradius" id="ActionDelete" onclick="DeleteMedicine()">Save changes</a>
                <a href="@Url.Action("IndexExpense", "Medicine")" class="btn btn-outline-secondary borderradius">Close</a>
                <input type="hidden" id="hiddenexpenseid" />
                <input type="hidden" id="hiddenstatus" />
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Medicine/Expense.js"></script>
    <script>
        $(document).ready(function () {

            $("#page_name").text("Expense Details,");
            $("#expense").trigger("click");
            $("#allexpense").addClass("active");
            $("#searchexpense").on("keyup", function () {
                var value = $(this).val();

                $("table tr").each(function (index) {
                    debugger;
                    if (index != 0) {

                        $row = $(this);
                        var id = $row.find("td:eq(1)").text();

                        if (id.indexOf(value) != 0) {
                            $(this).hide();
                        }
                        else {
                            $(this).show();
                        }
                    }
                });
            });
        });
    </script>
}

