@model List<SwasiHealthCare.Model.PatientModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    List<SwasiHealthCare.Data.Entities.AccessRights> rights =
     (List<SwasiHealthCare.Data.Entities.AccessRights>)Session["AccessRights"];
    var roleid = Convert.ToInt64(Session["RoleId"]);
}
<div class="row clearfix">
    <div class="col-sm-12">
        <div class="card">
            <div class="body">
                <form>
                    <div class="input-group" style="width:900px">
                        <input type="text" class="form-control" id="searchpatient" placeholder="Search here...">
                        <div class="input-group-append">
                            <span class="input-group-text" id="search-mail"><i class="icon-magnifier"></i></span>
                        </div>
                        @if ((roleid == 4 || roleid == 3) && rights.Where(x => x.MenuId == 1 && x.IsCreate).Any())
                        {
                            <div id="z_button" tabindex="0">
                                <div id="z_plus"><a href="@Url.Action("NewPatient", "Patient")"><span style="color:#ffffff">+</span></a></div>
                            </div>
                        }
                        else if (roleid != 4 && roleid != 3)
                        {
                            <div id="z_button" tabindex="0">
                                <div id="z_plus"><a href="@Url.Action("NewPatient", "Patient")"><span style="color:#ffffff">+</span></a></div>
                            </div>
                        }
                        </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-custom spacing5" id="patient_list">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> ID Number </th>
                        <th> Gender </th>
                        <th style="width:80px"> Name </th>
                        <th> Age </th>
                        <th style="width:345px; word-break:break-all "> Address </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var index = 1;
                        foreach (var item in Model)
                        {
                            <tr style="animation: none; opacity: 1;transform: none;" wi>
                                <td>@index</td>
                                <td>@item.PatientIdNumber</td>
                                <td class="w60">
                                    @if (item.PatientGender == "M")
                                    {
                                        <img src="~/Theme/Html/assets/images/xs/avatar4.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="avatar rounded-circle" data-original-title="Male">
                                    }
                                    else
                                    {
                                        <img src="~/Theme/Html/assets/images/xs/avatar3.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="avatar rounded-circle" data-original-title="Female">
                                    }
                                </td>
                                <td>
                                    <a href="javascript:void(0);" title=""> @item.PatientName</a>
                                    <div>@item.PatientMobileNumber</div>
                                    <div>@item.PatientWhatsappNumber</div>
                                </td>
                                <td>@item.PatientAge</td>
                                <td>@item.PatientAddress</td>
                                <td>
                                    @if (item.PatientStatus)
                                    {
                                        <button type="button" class="btn btn-default btn-sm" onclick="ChangePatientStatus(@item.PatientId,true)" style="color:#82b440; cursor:pointer" ; data-toggle="modal" data-target="#exampleModalCenter" title="Change User Status"><i class="fa fa-check-circle"></i></button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-default btn-sm" onclick="ChangePatientStatus(@item.PatientId,true)" style="color:#FF2A2A;cursor:pointer" ; data-toggle="modal" data-target="#exampleModalCenter" title="Change User Status"><i class="fa fa-times-circle"></i></button>
                                    }
                                    @if ((roleid == 4 || roleid == 3) && rights.Where(x => x.MenuId == 1 && x.IsEdit).Any())
                                    {
                                        <button onclick="location.href='@Url.Action("EditPatient", "Patient", new { patientid = item.PatientId })'" ; type="button" style="color:#0094ff; cursor:pointer" ; class="btn btn-default btn-sm" title="Edit"><i class="fa fa-pencil"></i></button>
                                    }
                                    else if (roleid == 2)
                                    {
                                        <button onclick="location.href='@Url.Action("EditPatient", "Patient", new { patientid = item.PatientId })'" ; type="button" style="color:#0094ff; cursor:pointer" ; class="btn btn-default btn-sm" title="Edit"><i class="fa fa-pencil"></i></button>
                                    }
                                    @if ((roleid == 4 || roleid == 3) && rights.Where(x => x.MenuId == 1 && x.IsDelete).Any())
                                    {
                                        <button type="button" style="color: #3e062d; cursor:pointer" ; class="btn btn-default btn-sm" title="Delete" onclick="RemovePatient(@item.PatientId)" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-trash-o"></i></button>
                                    }
                                    else if (roleid == 2)
                                    {
                                        <button type="button" style="color: #3e062d; cursor:pointer" ; class="btn btn-default btn-sm" title="Delete" onclick="RemovePatient(@item.PatientId)" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-trash-o"></i></button>
                                    }
                                    @if (item.FilePath != null && item.FilePath != string.Empty)
                                    {
                                        <ul class="nav navbar-nav">
                                            <li class="dropdown hidden-xs">
                                                <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                                    <button type="button" class="btn btn-default btn-sm" onclick="" style="color:#b200ff;cursor:pointer" ;><i class="fa fa-files-o"></i></button>
                                                    <span class="notification-dot msg">@item.PatientDocumentList.Count() </span>
                                                </a>
                                                <ul class="dropdown-menu right_chat email mt-0 animation-li-delay">
                                                    <li class="header theme-bg gradient mt-0 text-light">The patient @item.PatientIdNumber have @item.PatientDocumentList.Count() document</li>
                                                    <li>
                                                        @foreach (var doc in item.PatientDocumentList)
                                                        {
                                                            <a href="javascript:void(0);">
                                                                <div class="media">
                                                                    <div class="media-body">
                                                                        <span class="name">@doc.FileName<small class="float-right font-12">@doc.DocumentCreatedDate.ToString("MM/dd/yyyy")</small><i class="fa fa-download" onclick="location.href='@Url.Action("DownloadPatient", "Patient", new { documentid = doc.DocumentId })'" ;></i></span>
                                                                        <span class="message"></span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        }
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    }
                                </td>
                            </tr>
                            index++;
                        }
                    }
                </tbody>
                
            </table>
                </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="border-radius: 9px;">
            <div class="modal-header">
                <div><h6 class="modal-title" id="exampleModalCenterTitle"></h6></div>
            </div>
            <div class="modal-body">
                <div id="confirmmsg"></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-outline-primary borderradius" id="ActionStatus" onclick="PatientStatus()">Save changes</a>
                <a href="#" class="btn btn-outline-primary borderradius" id="ActionDelete" onclick="DeletePatient()">Save changes</a>
                <a href="@Url.Action("Index", "Patient")" class="btn btn-outline-secondary borderradius">Close</a>
                <input type="hidden" id="hiddenpatientid" />
                <input type="hidden" id="hiddenstatus" />
            </div>
        </div>
    </div>
</div>
@section scripts {
<script src="~/Scripts/Patient/Patient.js"></script>
    <script>
        $(document).ready(function () {
            $("#patient").trigger("click");
            $("#allpatient").addClass("active");
            $("#page_name").text("Patient Details,");

            $("#searchpatient").on("keyup", function () {
                var value = $(this).val();

                $("table tr").each(function (index) {
                    debugger;
                    if (index != 0) {

                        $row = $(this);
                        var id = $row.find("td:eq(1)").text();

                        if (id.indexOf(value) != 0) {
                            $(this).hide();
                        }
                        else {
                            $(this).show();
                        }
                    }
                });
            });
        });
    </script>}

