@model SwasiHealthCare.Model.ChangePasswordModel
@{
    ViewBag.Title = "Change password?";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Form Builder</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <section class="login-block" id="login-page" style="background: none;">
        <div class="container" style="min-width:300px; max-width:460px;">
            <div class="row">
                <div class="w-100 bg-theme text-white border-radius">
                    <h2 class="text-center title-secondary-head header_card signupLink">Change Password</h2>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 login-sec">
                    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.UserId)
                        @Html.HiddenFor(m => m.UserName)
                        <div class="form-group">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            @Html.Label("OldPassword", "Current Password")<span style="padding-left:2px;color:red">*</span>
                            <i class="fa fa-eye-slash" style="position: relative;top: 2rem; float: right;" aria-hidden="true"></i>
                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control form-control-sm form_line", id = "txtoldpassword" })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            @Html.Label("NewPassword", "New Password")<span style="padding-left:2px;color:red">*</span>
                            <i class="fa fa-eye-slash" style="position: relative;top: 2rem; float: right;" aria-hidden="true"></i>
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control form-control-sm form_line", id = "txtpassword" })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            @Html.Label("ConfirmNewPassword", "Password(Confirm)")<span style="padding-left:2px;color:red">*</span>
                            <i class="fa fa-eye-slash" style="position: relative;top: 2rem; float: right;" aria-hidden="true"></i>
                            @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control form-control-sm form_line", id = "txtconfrmpassword" })
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-check text-center p-0 ">
                            <div class="row"> 
                                <a href="@Url.Action("Index", "Home")" class="forgotPassLink ml-3 btn btn-sm btn-danger text-white">Back</a>
                                <button type="submit" id="btnChangePassword" class="forgotPassLink ml-3 btn btn-sm btn-success text-white" onclick="Login()">Save</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
@section Scripts {
   
}
